.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  height: 46px;
  color: #ffffff;
}

.header__logotype {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  list-style: none;
  display: inline;
}

.header__link {
  margin-left: 40px;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.wrapper {
  max-width: 1240px;
  margin: 40px auto 0px auto;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.button-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  height: 46px;
  border-radius: 8px;
}

.button-white {
  color: #6a4bff;
  background-color: #ffffff;
  border: 1px solid #6a4bff;
}

.link-general {
  width: 130px;
  height: 46px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-align: center;
  margin: auto;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.image1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
