.button-general {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 46px;
  border-radius: 8px;
}

.button-general:hover {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  color: #ffffff;
  transition: 0.5s;
  box-shadow: 0 0 15px 5px #ffffff;
}

.button-white {
  color: #6a4bff;
  background-color: #ffffff;
  border: 1px solid #6a4bff;
}

.link-general {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 46px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logotype {
  display: inline-flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 46px;
  color: #ffffff;
  margin: 40px auto 0;
}
.header__menu-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__menu-button, .header__menu-button::before, .header__menu-button::after {
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header__menu-button::before {
  content: "";
  margin-top: -8px;
}
.header__menu-button::after {
  content: "";
  margin-top: 8px;
}
.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__list > li {
  margin: 0 0.3rem;
  overflow: hidden;
}
.header__link {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 899px) {
  .header__menu-container {
    display: flex;
  }
  .header__list {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header__list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #ffffff;
    background-color: #222222;
    opacity: 0.8;
  }
  .header__list > li:not(:last-child) {
    border-bottom: 1px solid #444444;
  }
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .header__menu-container .header__menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .header__menu-container .header__menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .header__menu-container .header__menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 899px) {
  #menu-toggle ~ .header__list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .header__list li {
    border: 1px solid #333333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.product {
  margin-top: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product__headline {
  text-align: center;
  max-width: 100%;
  width: 916px;
}
.product__explain {
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
  max-width: 100%;
  width: 579px;
}
.product__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}
.product__buttons div {
  margin: 0 12.5px 0 12.5px;
}
.product__button-demo {
  color: #ffffff;
}
.product__dashboards {
  margin-top: 70px;
  display: flex;
}
.product__dashboards img {
  max-width: 100%;
  width: 1046px;
  box-shadow: 20px 20px 50px -12px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 0px 20px;
}
.product__services {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}
.product__service {
  flex: 0 1 auto;
}
.product__service:hover {
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  border-radius: 20px;
}
.product__services img {
  max-width: 100%;
  width: 240px;
}
.solution {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.solution__headline {
  font-size: 36px;
  line-height: 46px;
}
.solution__explain {
  margin-top: 25px;
  line-height: 18px;
  letter-spacing: -0.4079999924px;
  text-align: left;
}
.solution__benefits {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 61px;
}
.solution__benefit {
  max-width: 100%;
  width: 276px;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  padding: 32px;
  box-sizing: border-box;
}
.solution__benefit-head {
  margin-top: 24px;
  letter-spacing: -0.4079999924px;
  text-align: left;
  color: #343434;
}
.solution__benefit-text {
  margin-top: 16px;
  line-height: 24px;
  letter-spacing: -0.4079999924px;
  text-align: left;
}
.solution__benefit-link {
  margin-top: 27px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.4079999924px;
  text-align: left;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6a4bff;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 165px;
}
.customer__headline {
  margin-top: 100px;
  font-size: 40px;
  line-height: 81px;
}
.customer__testimonials {
  margin-top: 60px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.customer__testimonial {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 384px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 32px;
  box-sizing: border-box;
}
.customer__testimonial-user {
  display: flex;
  align-items: center;
}
.customer__testimonial-photo {
  margin-right: 20px;
}
.customer__testimonial-position {
  margin-top: 6px;
}
.customer__testimonial-text {
  margin-top: 24px;
  line-height: 22px;
  letter-spacing: -0.0025em;
}
.customer__testimonial-stars {
  margin-top: 24px;
  display: flex;
}

.pricing {
  margin-top: 125px;
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pricing__headline {
  font-size: 52px;
  line-height: 66px;
}
.pricing__explain {
  margin-top: 39px;
}
.pricing__switch {
  margin-top: 43px;
  display: flex;
  align-items: center;
}
.pricing__switch-slider {
  margin-left: 24px;
  margin-right: 24px;
}
.pricing__plans {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 48px;
}
.pricing__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 384px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  padding: 32px;
  box-sizing: border-box;
  box-shadow: 0px 10px 56px rgba(0, 0, 0, 0.05);
  padding: 50px 24px;
}
.pricing__plan-headline {
  color: #0c0047;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.pricing__plan-explain {
  margin-top: 24px;
  max-width: 100%;
  width: 296px;
  text-align: center;
}
.pricing__plan-amount {
  display: flex;
  margin-top: 37px;
  align-items: flex-end;
}
.pricing__plan-cash p {
  color: #0c0047;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
}
.pricing__plan-period {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.011em;
}
.pricing__plan-button {
  background-color: #00218f;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 42px;
  width: 100%;
}
.pricing__plan-link {
  width: 100%;
}
.pricing__plan-link h6 {
  font-weight: 700;
  letter-spacing: 0.011em;
  color: #ffffff;
}
.pricing__plan-offer {
  margin-top: 24px;
  display: flex;
  width: 100%;
}
.pricing__plan-offer ul {
  width: 100%;
  margin: 0;
  list-style: none;
}
.pricing__plan-offer ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.006em;
  color: #0c0047;
  margin-top: 24px;
  background-image: url(../images/offer_included.png);
  background-repeat: no-repeat;
  padding-left: 31px;
}
.pricing #plan_standart li:nth-child(n+6) {
  background-image: url(../images/offer_excluded.png);
}

.about {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f2f2ff;
  background-image: url(../images/about_ellipse.png);
  background-repeat: no-repeat;
  background-position: 320% 40%;
}
.about__team {
  max-width: 100%;
  width: 534px;
  margin-top: 163px;
}
.about__headline {
  font-size: 52px;
  line-height: 78px;
  text-align: left;
  color: #0c0047;
}
.about__explain {
  margin-top: 30px;
  max-width: 100%;
  width: 379px;
}
.about__people {
  margin-top: 33px;
  display: flex;
  align-items: center;
}
.about__people-clients {
  display: flex;
}
.about__client {
  margin-left: -7px;
}
.about__client img {
  max-width: 100%;
  width: 24px;
}
.about__client:first-of-type {
  margin-left: 0;
}
.about__people-amount {
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-left: 12px;
}
.about__people-amount p {
  color: #343434;
}
.about__button {
  margin-top: 33px;
  background-color: #6A4BFF;
  color: #ffffff;
}
.about__dashboard {
  margin-top: 119px;
  margin-bottom: 119px;
}
.about__dashboard img {
  max-width: 100%;
  width: 630px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
}
.footer__content {
  margin-top: 50px;
  max-width: 100%;
  width: 1200px;
}
.footer__additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__grounddesk {
  margin-top: 22px;
  flex-grow: 4;
}
.footer__slogan {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0em;
  max-width: 100%;
  width: 200px;
  margin-top: 37px;
}
.footer__company {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list li:first-child {
  font-size: 18px;
  font-weight: 700;
  opacity: 1;
}
.footer__list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #343434;
  opacity: 0.8;
  margin-top: 32px;
}
.footer__support {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__works {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.footer__web {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer__rights {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0 20px 0 20px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  background: url(../images/background_image_2.png) 0 0/contain no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

p {
  font-size: 14px;
  color: #969696;
  letter-spacing: -0.408px;
}

h1 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

h2 {
  letter-spacing: 0.005em;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.0025em;
}

h5 {
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4079999924px;
  margin: 0;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #969696;
}

a:hover {
  border-bottom: solid 2px #ffffff;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}