.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // .customer__headline

    &__headline {
        margin-top: 100px;
        font-size: 40px;
        line-height: 81px;
    }

    // .customer__testimonials

    &__testimonials {
        margin-top: 60px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    // .customer__testimonial

    &__testimonial {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 384px;
        border: 1px solid #eaeaea;
        border-radius: 20px;
        padding: 32px;
        box-sizing: border-box;
    }

    // .customer__testimonial-user

    &__testimonial-user {
        display: flex;
        align-items: center;
    }

    // .customer__testimonial-photo

    &__testimonial-photo {
        margin-right: 20px;
    }

    // .customer__testimonial-info

    &__testimonial-info {
    }

    // .customer__testimonial-name

    &__testimonial-name {
    }

    // .customer__testimonial-position

    &__testimonial-position {
        margin-top: 6px;
    }

    // .customer__testimonial-text

    &__testimonial-text {
        margin-top: 24px;
        line-height: 22px;
        letter-spacing: -0.0025em;
    }

    // .customer__testimonial-stars

    &__testimonial-stars {
        margin-top: 24px;
        display: flex;
    }
}
