.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1240px;
    height: 46px;
    color: #ffffff;

    // .header__logotype

    &__logotype {
        display: inline-flex;
        align-items: center;
    }

    // .header__logo

    &__logo {
        margin-right: 10px;
    }

    // .header__name

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    // .header__menu

    &__menu {
        display: flex;
    }

    // .header__bar

    &__bar {
    }

    // .header__nav

    &__nav {
    }

    &__nav ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__nav li {
        list-style: none;
        display: inline;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.32px;
    }

    // .header__link

    &__link {
        margin-left: 40px;
    }

    &__nav li:first-child > a {
        margin-left: 0;
    }

    // .header__account

    &__buttons {
        display: flex;
        gap: 10px;
    }

    // .header__button-login

    &__button-login {
    }

    // .header__link-login

    &__link-login {
    }

    // .header__button-sign

    &__button-sign {
    }

    // .header__link-sign

    &__link-sign {
    }
}
