.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1240px;
    height: 46px;
    color: #ffffff;

    &__logotype {}

    &__logo {}

    &__name {}

    &__menu {
        display: flex;
    }

    &__icon {}

    &__nav {}

    &__list  {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.32px;
        margin-left: 10px;
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }

    &__button-login {}

    &__link-login {}

    &__button-sign {}

    &__link-sign {}

    @media screen and (max-width: 1199px) {

    }

    @media screen and (max-width: 899px) {

    }
}
