.pricing {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // .pricing__headline

    &__headline {
    }

    // .pricing__explain

    &__explain {
        margin-top: 39px;
    }

    // .pricing__switch

    &__switch {
        margin-top: 43px;
    }

    // .pricing__switch-monthly

    &__switch-monthly {
    }

    // .pricing__switch-slider

    &__switch-slider {
    }

    // .pricing__switch-annualy

    &__switch-annualy {
    }

    // .pricing__plans

    &__plans {
        margin-top: 36px;
        display: flex;
    }

    // .pricing__plan

    &__plan {
    }

    // .pricing__plan-headline

    &__plan-headline {
    }

    // .pricing__plan-explain

    &__plan-explain {
    }

    // .pricing__plan-amount

    &__plan-amount {
    }

    // .pricing__plan-cash

    &__plan-cash {
    }

    // .pricing__plan-period

    &__plan-period {
    }

    // .pricing__plan-button

    &__plan-button {
    }

    // .pricing__plan-link

    &__plan-link {
    }

    // .pricing__plan-offer

    &__plan-offer {
    }
}

