.solution {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // .solution__headline

    &__headline {
        font-size: 36px;
        line-height: 46px;
    }

    // .solution__explain

    &__explain {
        margin-top: 25px;
        line-height: 18px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
    }

    // .solution__benefits

    &__benefits {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        margin-top: 61px;
    }

    // .solution__benefit

    &__benefit {
        max-width: 100%;
        width: 276px;
        border: 1px solid #eaeaea;
        border-radius: 15px;
        padding: 32px;
        box-sizing: border-box;
    }

    // .solution__benefit-image

    &__benefit-image {
        //margin-top: 32px;
    }

    // .solution__benefit-head

    &__benefit-head {
        margin-top: 24px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
        color: #343434;
    }

    // .solution__benefit-text

    &__benefit-text {
        margin-top: 16px;
        line-height: 24px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
    }

    // .solution__benefit-link

    &__benefit-link {
        margin-top: 27px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;

        text-decoration-line: underline;
        color: #6a4bff;
    }
}
