@import "_header";
@import "_product";
@import "_solution";
@import "_customer";
@import "_pricing";
@import "_about";
@import "_footer";
@import "_button";
@import "_switch";

.wrapper {
    max-width: 1240px;
    margin: 40px auto 0px auto;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-repeat: no-repeat;
    background-image: url(/images/background_image_1.png);
    background-position: 0% -270%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
}

p {
    font-size: 14px;
    //font-weight: 400;
    color: #969696;
    letter-spacing: -0.408px;
}

h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
}

h2 {
    letter-spacing: 0.005em;
    //text-align: center;
    font-weight: 700;

    //section pricing
    // font-size: 52px;
    // line-height: 66px;

    //section customer
    // font-size: 40px;
    // line-height: 81px;
    // text-align: left;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;


    // font-size: 24px;
    // font-weight: 700;
    // line-height: 32px;
    // letter-spacing: 0em;
    // text-align: center;
}

h4 {
}

h5 {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    margin: 0;
}

h6 {
}

a:hover {
    border-bottom: solid 2px #ffffff;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

// Background image as solo element
// .image1 {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
// }
