@import "_button";
@import "_switch";
@import "_logotype";
@import "_swiper";


@import "header";
@import "product";
@import "solution";
@import "customer";
@import "pricing";
@import "about";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    background: url(../images/background_image_2.png) center 0/100% 1350px no-repeat;
}

main {
    width: 1240px;
    max-width: 100%;
    margin: 0px auto 0px auto;
    padding: 0 20px 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
}

p {
    font-size: 14px;
    color: #969696;
    letter-spacing: -0.408px;
}

h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
}

h2 {
    letter-spacing: 0.005em;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.0025em;
}

h5 {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.40799999237060547px;
    margin: 0;
}

h6 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #969696;
}

a:hover {
    border-bottom: solid 2px #ffffff;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}