@import "_button";
@import "_switch";

@import "_header";
@import "_product";
@import "_solution";
@import "_customer";
@import "_pricing";
@import "_about";
@import "_footer";

.wrapper {
    max-width: 1240px;
    margin: 40px auto 0px auto;
    padding: 0 20px 0 20px;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    background-image: url(../images/background_image_1.png);
    background-repeat: no-repeat;
    -webkit-background-size: 1400px;
    -moz-background-size: 1400px;
    -o-background-size: 1400px;
    background-size: 1400px;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
}

p {
    font-size: 14px;
    color: #969696;
    letter-spacing: -0.408px;
}

h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
}

h2 {
    letter-spacing: 0.005em;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.0025em;
}

h5 {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.40799999237060547px;
    margin: 0;
}

h6 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #969696;
}

a:hover {
    border-bottom: solid 2px #ffffff;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

// Background image as solo element
// .image1 {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
// }
